# Java
target/
*.jar

# JDK
jdk21/
*.zip

# Python
__pycache__/
*.pyc

# Env files
.env

# Node
node_modules/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Build logs
*.log

# Celery SQLite
celerydb.sqlite
celeryresults.sqlite

# Temp files
git_status.txt
errors.txt